extends layout
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 HomePage
        h3.display welcome to gameswap this website allows you to trade your games you do not play anymore with other gamers who also want to trade with this you save money and still get new games.

