extends layout

block content
  app-home-list Loading
block scripts
  script(src='/build/runtime.ec2944dd8b20ec099bf3.js')
  script(src='/build/polyfills.20ab2d163684112c2aba.js')
  script(src='/build/main.e44616feda260b01397a.js')
